[submodule "BrainHatComponents\\brainflow"]
	path = BrainHatComponents\\brainflow
	url = https://github.com/GrahamBriggs/brainflow.git
[submodule "BrainHatComponents/brainflow"]
	path = BrainHatComponents/brainflow
url=git@github.com:GrahamBriggs/brainflow.git
[submodule "BrainHatComponents/liblsl-Csharp"]
	path = BrainHatComponents/liblsl-Csharp
url=git@github.com:GrahamBriggs/liblsl-Csharp.git
[submodule "BrainHatComponents/EDFlib"]
	path = BrainHatComponents/EDFlib
url=git@github.com:GrahamBriggs/EDFlib.git
