bin
obj
*.DS_Store
packages
.vs
VisualGDBCache
CodeDB
*.user
!lib/lsl/x64/bin
!lib/lsl/x86/bin
brainHatServer/brainHat/Debug
brainHatServer/brainHat/Release
BrainHatClient/BrainHatClient/Installer/Output
brainHatServer/BrainHatSharp/Installer/Output
brainHatServer/brainHatSharpGUI/Installer/Output
