bin
obj
*.DS_Store
packages
.vs
VisualGDBCache
CodeDB
*.user
!lib/lsl/x64/bin
!lib/lsl/x86/bin
brainHatServer/brainHat/Debug
brainHatServer/brainHat/Release
BrainHatClient/BrainHatClient/Installer/Output
brainHatServer/BrainHatSharp/Installer/Output
brainHatServer/brainHatSharpGUI/Installer/Output
CytonRegisters/cytonRegisters/Debug
._.gitignore
*.old
BrainHatComponents/EDFfile/EDFfile/x64
BrainHatComponents/EDFfile/EDFfileTest/Release
BrainHatComponents/EDFfile/EDFfileTest/x64
BrainHatComponents/EDFfile/EDFfile/Debug
BrainHatComponents/EDFfile/EDFfile/Release
BrainHatComponents/EDFfile/Release
